<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0" metadata-complete="false">

    <filter>
        <filter-name>cors</filter-name>
        <filter-class>de.rieckpil.quickstarts.filters.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cors</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <data-source>
        <name>java:global/JPAExampleDataSource</name>
        <class-name>com.mysql.jdbc.jdbc2.optional.MysqlXADataSource</class-name>
        <server-name>${ENV=DB_HOST}</server-name>
        <port-number>3306</port-number>
        <database-name>test</database-name>
        <user>${ENV=JDBC_USER}</user>
        <!-- Example of using a Payara password alias in the datasource definition -->
        <password>${ENV=JDBC_PASSWORD}</password>
        <!-- Example of how to use a Payara specific custom connection pool setting -->
        <property>
            <name>fish.payara.slow-query-threshold-in-seconds</name>
            <value>5</value>
        </property>
        <property>
            <name>fish.payara.log-jdbc-calls</name>
            <value>true</value>
        </property>
        <property>
            <name>fish.payara.is-connection-validation-required</name>
            <value>true</value>
        </property>
        <property>
            <name>fish.payara.connection-validation-method</name>
            <value>custom-validation</value>
        </property>
        <property>
            <name>fish.payara.validation-classname</name>
            <value>org.glassfish.api.jdbc.validation.MySQLConnectionValidation</value>
        </property>
    </data-source>
</web-app>
